@import url('https://fonts.googleapis.com/css?family=Montserrat:500|Orbitron|Pacifico');

html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CECECE;
  font-family: Montserrat, sans-serif;
  color: white;
  margin: 0;
}

button:focus {
  outline: 0;
}

#app {
  width: 85vw;
  height: 70vh;
  background-color: #FF4444;
  border-radius: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 0 10px #b1170f;
  justify-content: space-evenly;
}

h1 {
  font-size: 220%;
  font-weight: 200;
  font-family: Pacifico, Montserrat, sans-serif;
  margin: 0;
  text-shadow: 2px 2px 6px #b1170f;
}

hr {
  width: 78%;
}

.length-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#session-container,
#break-container {
  width: 180px;
}

#break-label,
#session-label {
  margin: 0;
  display: flex;
  justify-content: center;
  font-size: 100%;
}

.length-set {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.length-display {
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 160%;
  background-color: #6a6a6a;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.842);
  border-radius: 3px;
  width: 70px;
  box-shadow: inset 0 0 5px #000000b9;
  font-family: Orbitron, sans-serif;
}

.control-btn {
  height: 40px;
  width: 40px;
  font-size: 200%;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  text-shadow: 2px 2px 5px #b1170f;
  transition: 250ms;
}

i {
  pointer-events: none;
}

.control-btn:hover {
  color: #21E521;
}

.control-btn-red:hover {
  color: #b1170f;
}

.control-btn:active {
  color: #107c10;
}

.timer-container-red {
  height: 175px;
  width: 175px;
  border-radius: 100%;
  border: 7px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 30px #b1170f;
}

.timer-container-green {
  background-color: #33cc33;
}

#time-left {
  background-color: #6a6a6a;
  border-radius: 3px;
  height: 20%;
  width: 70%;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.842);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 5px #000000b9;
  font-family: Orbitron, sans-serif;
  font-size: 220%;
  margin-top: 10px;
  padding: 5px;
}

#timer-container-buttons {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}

#timer-label {
  background-color: #6a6a6a;
  border-radius: 3px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.842);
  box-shadow: inset 0 0 5px #000000b9;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  font-family: Orbitron, sans-serif;
  margin: 0;
  font-size: 100%;
  width: 95px;
  height: 25px;
}

@media screen and (min-width: 480px) {

  h1 {
    font-size: 280%;
  }

  #break-label,
  #session-label {
    font-size: 150%;
  }

  .length-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #timer-container {
    height: 230px;
    width: 230px;
  }
}

@media screen and (min-width: 700px) {

  #app {
    width: 500px;
    height: 500px;
  }

  hr {
    width: 420px;
  }

  .length-display {
    font-size: 200%;
    margin: 10px;
  }

  #timer-container {
    height: 55%;
    width: 55%;
    border: 10px solid white;
  }

  #timer-label {
    width: 145px;
    height: 40px;
    font-size: 150%;
  }

  #time-left {
    font-size: 250%;
  }

  #timer-container-buttons {
    margin-top: 20px;
  }

}